

body{
  background:#f2f2f2;
}

/*    --------------------------------------------------
  :: Login Section
  -------------------------------------------------- */
.logo-img{
    width: 130px;
}

#login {
    padding-top: 100px

}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
  margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
  text-align: center;
  display: block;
}

/*    --------------------------------------------------
  :: Inputs & Buttons
  -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
  background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
  -------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

.right
   {
      float: right;
      margin-top: -56px;
   }


.modal-slacker {
    width: 100%;
    height: 90%;
    margin: 0px;
}

.modal-slacker .modal-content {
    margin-top: 5%;
    border-radius: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 80%;
    overflow: auto;
}

.modal-slacker .modal-header .close {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    opacity: 1;
    padding: 5px 5px;
    font-size: 27px;
}

.modal-slacker .modal-title {
    font-size: 34px;
    color:#428bca;
}

@media (min-width: 992px) {
    .modal-slacker .modal-header,
    .modal-slacker .modal-body,
    .modal-slacker .modal-footer {
        width: 900px;
    }
}

@media (min-width: 768px) {
    .modal-slacker .modal-header,
    .modal-slacker .modal-body,
    .modal-slacker .modal-footer {
        width: 600px;
        margin: 30px auto;
    }
}

body 
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }




/* ilan duzenlemesi */


.fab {
  cursor: pointer;
}
.fab-backdrop {
  color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
  transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
  opacity: 0;
  transform: rotate(225deg);
}
.fab-secondary {
  opacity: 0;
  transform: rotate(-225deg);
}
.fab.active .fab-secondary {
  opacity: 1;
  transform: rotate(0);
  margin-top: -2px;
}



#inbox .show-on-hover:hover > ul.dropdown-menu {
    display: block;    
    
}
#inbox .show-on-hover {
    position: fixed;
    bottom: 80px;
    right: 80px;
}
#inbox .btn-io{
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(5, 78, 197, 0.68);
}
#inbox .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
    margin-bottom: -5px;
    padding-bottom: 30px;
}
#inbox .dropdown-menu-right {
    right: 0 !Important;
    left: auto !Important;
}
#inbox .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !Important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}
#inbox .fa-iox{
    font-size: 22px;
}
#inbox .dropdown-menu > li > a {
    display: block;
    padding: 0;
    padding-top: 4px;
    margin-top: 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}
#inbox .dropdown-menu > li:first-child>a {
    background: #D3A516 !important;
    color: #fff !important;
}
#inbox .dropdown-menu > li:last-child>a {
    background: #900323;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(3)>a {
    background: #3C80F6;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(2)>a {
    background: #659265;
    color: #fff;
}
#inbox .fa-iosm{
    
    margin-top: 7px;
}




